body {
    font-family: Arial, sans-serif;
    text-align: center;
   background: url(https://images.unsplash.com/photo-1531113165519-5eb0816d7e02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) ;
   background-size: cover;
   background-attachment: fixed;
}
h1 {
    color: #333;
    font-size: 36px;
}
h2, h3 {
    color: #333;
    font-size: 24px;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #333;
    color: #fff;
}
hr {
    border: 1px solid #333;
    margin: 20px auto;
}
